.event-table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background: linear-gradient(to bottom, #f9dec9 0%, #e0ead2 100%);
}

.events-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
    animation: color-change 10s infinite linear, fade-in 1s;
    color: #836e56;
}

@keyframes color-change {
    0% {
        color: #836e56;
        transform: translateY(0);
    }

    25% {
        color: #978c75;
        transform: translateY(-10px);
    }

    50% {
        color: #a79b7c;
        transform: translateY(0);
    }

    75% {
        color: #7b6d57;
        transform: translateY(10px);
    }

    100% {
        color: #836e56;
        transform: translateY(0);
    }
}

.breadcrumb-container {}

.separator-line {
    width: 100%;
    height: 1px;
    background-color: #918a74;
    margin: 20px 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin-top: 30px;
}

.card {
    background-color: #f0efe9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    margin: 20px;
    width: 300px;
    padding: 20px;
}

.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.card-title {
    color: #5c4f3a;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-title:hover {
    color: #7d6c52;
}

.card-attribute {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
}

.section-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    animation: fade-in 1s;
    color: #836e56;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}