.card {
    background-color: #d9ead3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
}

.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.card-title {
    color: #918a74;
    font-size: 20px;
    margin-bottom: 10px;
}

.card-title:hover {
    color: #fff2cc;
}

.card-user {
    margin-bottom: 10px;
}

.card-user-text {
    font-size: 118px;
    font-weight: bold;
    animation: color-change 10s infinite linear;
    margin: 100px;
}

@keyframes color-change {
    0% {
        color: #836e56;
        /* Darker Brown */
        transform: translateY(0);
    }

    25% {
        color: #978c75;
        /* Darker Tan */
        transform: translateY(-10px);
    }

    50% {
        color: #a79b7c;
        /* Darker Yellow */
        transform: translateY(0);
    }

    75% {
        color: #7b6d57;
        /* Darker Olive */
        transform: translateY(10px);
    }

    100% {
        color: #836e56;
        /* Darker Brown */
        transform: translateY(0);
    }
}

.card-attribute {
    margin-bottom: 5px;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.custom-button {
    background-color: #918a74;
    border-color: #918a74;
    transition: background-color 0.3s ease-in-out;
    padding: 10px 20px;
    font-size: 18px;
}

.custom-button:hover {
    background-color: #fff2cc;
}