/* css */
.custom-card {
    background-color: #d9ead3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Increased box-shadow */
    transition: box-shadow 0.3s ease-in-out;
    margin: 200px;
    margin-top: 50px;
    /* Added margin around the card */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.custom-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.custom-heading {
    color: #918a74;
    transition: color 0.3s ease-in-out;
    font-size: 28px;
    margin-bottom: 20px;
}

.custom-heading:hover {
    color: #fff2cc;
}

.user-name {
    margin-bottom: 40px;
}

.user-name-text {
    font-size: 75px;
    font-weight: bold;
    animation: color-change 10s infinite linear;
}

@keyframes color-change {
    0% {
        color: #836e56;
        transform: translateY(0);
    }

    25% {
        color: #978c75;
        transform: translateY(-10px);
    }

    50% {
        color: #a79b7c;
        transform: translateY(0);
    }

    75% {
        color: #7b6d57;
        transform: translateY(10px);
    }

    100% {
        color: #836e56;
        transform: translateY(0);
    }
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.custom-button {
    background-color: #918a74;
    border-color: #918a74;
    transition: background-color 0.3s ease-in-out;
    padding: 10px 20px;
    font-size: 18px;
}

.custom-button:hover {
    background-color: #fff2cc;
}

.event-table-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.weather-widget-container {
    margin-right: 20px;
    margin-top: -10px;
    padding-bottom: 20px;
    width: 100%;
}

.weather-widget {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 300px;
}

@media (max-width: 768px) {
    .weather-widget-container {
        margin-right: 0;
    }

    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}