.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #bfe6ba, #ffc0cb);
    /* Pastel green (#bfe6ba) and pastel pink (#ffc0cb) */
}

.landing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-image {
    width: 300px;
    height: 300px;
}

.landing-title {
    font-size: 2.5rem;
    margin-top: 20px;
    animation: fadeIn 5.5s ease-in-out;
    /* Apply the animation */
}

.buttons-container {
    margin-top: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

a {
    text-decoration: none;
}

button {
    background-color: #f9dec9;
    /* Pastel green */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    color: #040101;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #e0ead2;
    /* Pastel pink */
}